lab7/src/main/java/manager.dtd

<!ELEMENT Manager (Team*)>
        <!ELEMENT Team (Player*)>
        <!ELEMENT Player (#PCDATA)>
        <!ATTLIST Team
                id ID #REQUIRED
                name CDATA #REQUIRED
                >
        <!ATTLIST Player
                playerId ID #REQUIRED
                teamId IDREF #REQUIRED
                name CDATA #REQUIRED
                age CDATA #REQUIRED
                >